<header>
  <div class="nav-bar">
    <div class="nav-button" (click)="navMenu()" #navButton>
      <div class="burger" data-burger="inativo" #nav>
      <div class="burger-button" data-filho-burger="inativo" #burgerButton></div>
      <div class="burger-button" data-filho-burger="inativo" #burgerButton></div>
      <div class="burger-button" data-filho-burger="inativo" #burgerButton></div>
    </div>
    </div>
    <div class="nome-portfolio">
       <p>Portfólio</p>
    </div>

    <ul class="nav-itens">
       <li class="nav-item"><a href="projetos" data-target="projetos">Projetos</a></li>
       <li class="nav-item"><a href="conhecimentos" data-target="conhecimentos">Conhecimentos</a></li>
       <li class="nav-item"><a href="sobreMim" data-target="sobreMim">Sobre mim</a></li>
       <li class="nav-item"><a href="contato" data-target="contato">Contato</a></li>
    </ul>  
    

    <div class="menu-mobile" data-menu="inativo" #menuMobile>
      <div class="menu-container">
        
        <ul class="nav-itens-mobile">
          <li class="nav-item"><a href="projetos" data-target="projetos">Projetos</a></li>
          <li class="nav-item"><a href="conhecimentos" data-target="conhecimentos">Conhecimentos</a></li>
          <li class="nav-item"><a href="sobreMim" data-target="sobreMim">Sobre Mim</a></li>
          <li class="nav-item"><a href="contato" data-target="contato">Fale Comigo</a></li>
        </ul>

        <div class="barra-gradiente-mobile"></div>
      </div>
      <div class="sair-menu" (click)="fecharMenu()"></div>
    </div> 

  </div>
  <div class="barra-gradiente"></div>

</header>