<section class="sobremim-contato">

  <div class="sobremim">
      <h1 class="titulo-secao">Sobre Mim</h1>

      <div class="conteudo-sobremim">

        <div class="img-dev">
          <img src="./assets/image/img-dev.png" alt="">
        </div>

        <div class="descricao-dev">
          <p>
            Meu nome é Lucas Felipe Luz, sou de Recife - Pernambuco.
            Comecei a me interessar por programação em 2019 usando o Python, e me apaixonei por
            Desenvolvimento Web em 2020, e to nele até hoje.
            Atualmente, sou estágiario na Wipro Limited e além de ser autodidata, faço graduação de Análise e Desenvolvimento
            de Sistemas, mas nem só de linguagens de programação vive o homem,
            também estou aprendendo Inglês.
          </p>
        </div>
      </div>
    </div>

  <div class="contato">
    <h1 class="titulo-secao">Contato</h1>
    
    <div class="conteudo-contato">
      <p class="informacoes-contato">
        Se quiser me ajudar, ou até bater um papo sobre programação, não hesite em me chamar.
      </p>
      <div class="links-contato">
        <a href="https://t.me/lucasfelipeluz" target="_blank" class="link-telegram link"><fa-icon class="fab fa-telegram-plane" [icon]="icons.faTelegramPlane"></fa-icon> Telegram</a>
        <a href="https://www.instagram.com/lucasfelipeluz/" target="_blank" class="link-instagram link"><fa-icon class="fab fa-instagram" [icon]="icons.faInstagram"></fa-icon>Instagram</a>
        <a href="https://www.linkedin.com/in/lucasfelipeluz/" target="_blank" class="link-likendin link"><fa-icon class="fab fa-linkedin" [icon]="icons.faLinkedin"></fa-icon>Linkedin</a>
        <a href="mailto:lucasfelipeluz.dev@gmail.com"  class="link-gmail link"><fa-icon class="fas fa-envelope" [icon]="icons.faEnvelope"></fa-icon>Gmail</a>
      </div>
    </div>
  </div>

</section>