<section class="tela1 tela-inicial secao" >
  <div class="conteudo-inicial">
    <div class="container-boasvindas">

      <div class="apresentacao">
        <p class="ola">Olá, meu nome é</p>
        <p class="meu-nome">Lucas Luz</p>
        <p class="cargo">Desenvolvedor Full Stack</p>
      </div>
      <div class="informacoes">
        <a class="curriculo informacoes-filho" href="./assets/documents/curriculo_lucas_luz.pdf" download><fa-icon class="fas" [icon]="faDownload"></fa-icon><i class="fas fa-file-download"></i>Baixar CV</a>
        <p class="informacoes-vaga">Atualmente não estou disponível para vagas</p>
      </div>

    </div>

    <div class="container-ilustracoes">

      <div class="container-svg-desenvolvedor">

        <div class="paisagem">
          <img src="./assets/image/ilustracao.png" alt="Ilustração de Desenvolvedor numa sala." class="paisagem-img">
        </div>

      </div>
      
    </div>
  </div>
</section>