$cor1: #1e272e;
$cor2: #d2dae2;
$cor3: #808e9b;
$cordestaque:#5a87ae;
$cordestaquehover:#5c9bd1;
$conteudo:#101518;
$letras: #f1f2f6;
$vermelho: #ff3f34;
$verde:#0bdd7b;
$verde-hover: #07b664;
$corheader: #181f24;


/* Fontes */
$font1:'KoHo', sans-serif;
$font2:'Kanit', sans-serif;;
$font3:'Kodchasan', sans-serif;;

    /* Testes */
$bd: 1px solid white;
$bb: 1px solid black;

    /* Margin padrão */
$margin: 0 50px 0 50px;


/* Mixins */
@mixin mobile(){
  @media(min-width: 680px){
    @content;
  }
}
@mixin tablet(){
  @media(min-width: 768px){
    @content;
  }
}
@mixin sobreMim(){
  @media(min-width:790px) and (max-width:991px){
    @content;
  }
}
@mixin onlyMobile(){
  @media(max-width: 991px){
    @content;
  }
}
@mixin desktop(){
  @media(min-width: 992px){
    @content;
  }
}
@mixin mediumdesktop(){
  @media(min-width: 1200px){
    @content;
  }
}
@mixin bigdesktop(){
  @media(min-width: 1400px){
    @content;
  }
}

/* SCROOL BAR */
::-webkit-scrollbar-track {
  background-color:$cor1;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: $cor3;
}

*{
  box-sizing: border-box;
  padding: 0; margin: 0;
  font-family: $font1;
}
body{
  background-color: $cor1;
}
h1{
  color: $letras;
  font-family: $font1;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
}
h3{
  color: $letras;
  font-family: $font2;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: start;
  padding: 5px  0  10px 15px;
  font-size: 23px;
}
h5{
  color: $letras;
  font-family: $font2;
  font-size: 21px;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 5px 0 5px 15px;
}
.desativado{
  filter: saturate(0);
}
.desativado:hover{
  cursor:not-allowed;
}


/* Funções */
@mixin espacamentoSection(){
  @include mediumdesktop(){
    margin-bottom: 100px !important;
    padding-bottom: 50px !important;
  }
}

/* Pré sets */
[data-height]{
  @include mediumdesktop(){
    min-height: 100vh !important;
  }
}
.titulo-secao{
  @include mediumdesktop(){
    height: 8%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

  }
}

/* TELA INICIAL */
section.tela-inicial{
  display: block;
  height: calc(100vh - 60px);

  @include espacamentoSection();

  @include mediumdesktop(){
    margin: $margin;
  }
}
.conteudo-inicial{
  height: 100%;width: 100%;
  display: grid;
  place-content: center;

  @include mediumdesktop(){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
  }
}
.container-boasvindas{
  @include mediumdesktop(){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.apresentacao{
  width: 100%;
  color: $letras;
  position: relative;
  line-height: 35px;
  user-select: none;
  /* background: linear-gradient(95deg, #f0e6e6, #ffe0e0, #808e9b, #5a87ae, #0be881, #ff3f34, #ff3f34);
  background-size: 800% 800%; */
  /* animation: animacao-letra 25s ease infinite; */
  background-color: $cordestaque;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  

  /* Animacao apresentacao */
  @keyframes animacao-letra {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
  }

  @include mediumdesktop(){
    text-align:start;
  }

  .ola{
    font-size:28px;
    font-family: $font1;
    font-weight: 400;
    letter-spacing: -1px;
    
    @include mediumdesktop(){
     font-size: 28px; 
    }
  }
  .meu-nome{
    font-size: 55px;
    font-family: $font1;
    font-weight: 600;
    letter-spacing: 3px;

    @include mediumdesktop(){
      font-size: 65px; 
     }
  }
  .cargo{
    margin-top: 10px;
    font-size: 25px;
    font-family: $font1;
    font-weight: 400;
    letter-spacing: -1px;    

    @include mediumdesktop(){
      font-size: 28px; 
     }
  }
}

/* Link */
.informacoes{
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 30px;
  position: relative;
  

  @include mediumdesktop(){
    width: 100%;
    height: 45px;
    margin-top: 25px;
  }

  p.informacoes-vaga{
    width: 100%;
    color: $cor3;
    text-align: center;
    position: absolute;
    bottom: -50%;
    font-size: 13px;
    user-select: none;

    @include mediumdesktop(){
      text-align: center;
      width: 280px;
    }
  }

  .informacoes-filho{
    /* background: linear-gradient(95deg, #f0e6e6, #ffe0e0, #808e9b, #5a87ae, #0be881, #ff3f34,#ff3f34);
    background-size: 800% 800%;
    animation: animacao-letra 25s ease infinite; */
    background-color: $cordestaque;
    font-size: 17px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $cor1;
    font-weight: 800;


    &:hover{
      background-color: $cordestaquehover;
    }
    

    @include mediumdesktop(){
      width: 280px;
    }

    .fa-file-download{
      margin-right: 5px;
    }
  }
  .informacoes-filho:hover{
    box-shadow: 2px 2px 5px 1px #222121;
  }
}

/* Ilustração */
.container-ilustracoes{
  display: none;

  @include mediumdesktop(){
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-svg-desenvolvedor{
    position: relative;
    overflow: hidden;
    height: calc(100vh - 55px);
    width: 100%;
    height: 470px;
  }

  .paisagem{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .paisagem, .svg-desenvolvedor{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .paisagem-img{
    width: 100%;
    position: absolute;
    z-index: 4;
  }
}
